In [1]:
# basic import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Modeling
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [2]:
df = pd.read_csv('StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## we will try to predict the math score taking all other columns as independent features

In [3]:
X = df.drop(columns=['math score'],axis=1)
y = df['math score']

## Feature Encoding

In [4]:
num_features = X.select_dtypes(exclude='object').columns
cat_features = X.select_dtypes(include='object').columns

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numerical_transformer = StandardScaler()
categorical_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ('OneHotEncoder', OneHotEncoder(handle_unknown='ignore'), cat_features),
        ('StandardScaler', numerical_transformer, num_features),
    ]
)

In [5]:
X_transformed = preprocessor.fit_transform(X)

In [7]:
X_transformed.shape

(1000, 19)

In [11]:
# train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_transformed,y,test_size=0.2,random_state=42)

In [15]:
def evaluate_model(true,predicted):
    score = r2_score(true,predicted)
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mse)
    return mae , rmse , score

In [13]:

models = [
    ("Linear Regression", LinearRegression()),
    ("Decision Tree Regressor", DecisionTreeRegressor()),
    ("Random Forest Regressor", RandomForestRegressor()),
    ("SVR", SVR()),
    ("K nearest neighbour", KNeighborsRegressor())
]

for name, model in models:
    print(f"\nðŸš€ Training {name}...")  # Shows model name at start

    # Fit model
    model.fit(X_train, y_train)

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluate model
    model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    # Print training performance
    print("\nðŸ“Š Performance on Training set:")
    print(f"  MAE      : {model_train_mae:.4f}")
    print(f"  RMSE     : {model_train_rmse:.4f}")
    print(f"  RÂ² Score : {model_train_r2:.4f}")

    print("-" * 40)

    # Print testing performance
    print("ðŸ§ª Performance on Test set:")
    print(f"  MAE      : {model_test_mae:.4f}")
    print(f"  RMSE     : {model_test_rmse:.4f}")
    print(f"  RÂ² Score : {model_test_r2:.4f}")

    print("=" * 50)

ðŸš€ Training Linear Regression...

ðŸ“Š Performance on Training set:
  MAE      : 4.2667
  RMSE     : 5.3231
  RÂ² Score : 0.8743
----------------------------------------
ðŸ§ª Performance on Test set:
  MAE      : 4.2148
  RMSE     : 5.3940
  RÂ² Score : 0.8804
==================================================

ðŸš€ Training Decision Tree Regressor...

ðŸ“Š Performance on Training set:
  MAE      : 0.0187
  RMSE     : 0.2795
  RÂ² Score : 0.9997
----------------------------------------
ðŸ§ª Performance on Test set:
  MAE      : 6.2700
  RMSE     : 7.9423
  RÂ² Score : 0.7408
==================================================

ðŸš€ Training Random Forest Regressor...

ðŸ“Š Performance on Training set:
  MAE      : 1.8315
  RMSE     : 2.3130
  RÂ² Score : 0.9763
----------------------------------------
ðŸ§ª Performance on Test set:
  MAE      : 4.5733
  RMSE     : 5.9165
  RÂ² Score : 0.8561
==================================================

ðŸš€ Training SVR...

ðŸ“Š Performance on Training set:
  MAE      : 4.8692
  RMSE     : 6.5770
  RÂ² Score : 0.8081
----------------------------------------
ðŸ§ª Performance on Test set:
  MAE      : 5.4015
  RMSE     : 8.1266
  RÂ² Score : 0.7286
==================================================

ðŸš€ Training K nearest neighbour...

ðŸ“Š Performance on Training set:
  MAE      : 4.5167
  RMSE     : 5.7077
  RÂ² Score : 0.8555
----------------------------------------
ðŸ§ª Performance on Test set:
  MAE      : 5.6210
  RMSE     : 7.2530
  RÂ² Score : 0.7838
==================================================